
<footer class="fixed-bottom" style="background-color: #464c50;">
  <ul class="socialIcons">
    <li class="linkedin"><a href="https://www.linkedin.com/in/jasonvandevander/" target="_blank"><i class="fa fa-fw fa-linkedin"></i>Jason</a></li>
    <li class="linkedin"><a href="https://www.linkedin.com/in/dylan-howard01/" target="_blank"><i class="fa fa-fw fa-linkedin"></i>Dylan</a></li>
    <li class="linkedin"><a href="https://www.linkedin.com/in/gentang-funue-fullstack-dev/" target="_blank"><i class="fa fa-fw fa-linkedin"></i>Edwin</a></li>
    <li class="github"><a href="https://github.com/gfunue/warehouse-grp-prj/tree/main" target="_blank"><i class="fa fa-fw fa-github"></i>Github</a></li>
  </ul>
</footer>