<body>
    <app-nav></app-nav>
        <main>
            <div class="container flexability">
                <span class="animated-button1"><span></span><span></span><span></span><span></span><img src="assets/images/logo-company.png" alt="" class="img-fluid card container no-border " id="align"></span>
                
                <div class="m-bottom">
                <button routerLink="/ferrari" class="style"><img src="assets/images/ferrari-logo.jpg" alt="Ferrari logo" class="logo hvr-grow" (click)="playSound()"></button>

                <button routerLink="/mercedes" class="style"><img src="assets/images/mercedes-benz-logo.jpg" alt="Mercedes logo" class="logo hvr-grow" (click)="playSound()"></button>

                <button routerLink="/porsche" class="style"><img src="assets/images/porsche-logo.png" alt="Porsche logo" class="logo hvr-grow" (click)="playSound()"></button>

                <button routerLink="/dodge" class="style"><img src="assets/images/dodge-ram-logo.png" alt="Dodge logo" class="logo hvr-grow" (click)="playSound()"></button>

                <button routerLink="/honda" class="style"><img src="assets/images/honda-logo.png" alt="Honda logo" class="logo hvr-grow" (click)="playSound()"></button>

                <button routerLink="/toyota" class="style"><img src="assets/images/toyota-logo.png" alt="Toyota logo" class="logo hvr-grow" (click)="playSound()"></button>
            </div>
        </div>

    </main>
</body>

